* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  background-image: url("images/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}

.button_container {
  width: 30%;
  float: left;
  display: flex;
  flex-direction: column;

  gap: 6%;
  padding-top: 16%;
}

.but1 {
  width: 60%;

  margin-left: 20%;
  padding-top: 3.25%;
  padding-bottom: 3.25%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but1:hover {
  opacity: 1;
}

.but1::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 379%;
  border-bottom: 3px solid white;
}

.but2 {
  width: 60%;
  margin-left: 20%;
  padding-top: 3.25%;
  padding-bottom: 3.25%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but2:hover {
  opacity: 1;
}

.but2::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 379%;
  border-bottom: 3px solid white;
}

.but3 {
  width: 60%;
  margin-left: 20%;
  padding-top: 3.25%;
  padding-bottom: 3.25%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but3:hover {
  opacity: 1;
}

.but3::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 375%;
  border-bottom: 3px solid white;
}

.but4 {
  width: 60%;
  margin-left: 20%;
  padding-top: 3.25%;
  padding-bottom: 3.25%;
  border: none;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  opacity: 0.7;
  position: relative;
  font-size: 1.5vw;
  font-weight: bold;
  color: #f72585;
}

.but4:hover {
  opacity: 1;
}

.but4::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -1%;
  width: 373%;
  border-bottom: 3px solid white;
}

.frame_image_container {
  width: 40%;
  margin: 0 auto;
  margin: 0;
  padding: 0;

  position: relative;
}

.right {
  width: 30%;
  float: right;
}

.frame_image {
  width: 60%;
  height: 70%;
  margin: 0;
  padding: 0;
  margin-top: 20%;
  margin-left: 15%;
  z-index: 2;
  position: relative;
  

}

.camera_image {
  z-index: 1;

  margin-top: -78%;
  position: absolute;
  margin-left: 17%;
}

.portrait-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
}

.portrait-message {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .camera_image {
    z-index: 1;
    margin-top: -85%;
    position: absolute;
    margin-left: 17%;
  }
}
